<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1>Team Name: <%= params[:] %></h1>
    <h1>Coach: <%= params[:] %></h1>
    <h1>Point Guard: <%= params[:] %></h1>
    <h1>Shooting Guard: <%= params[:] %></h1>
    <h1>Small Forward: <%= params[:] %></h1>
    <h1>Power Forward: <%= params[:] %></h1>
    <h1>Center: <%= params[:] %></h1>

 </body>
</html>
